{% extends "base.html" %}
{% block content %}
<div class="container">
        <form action="{% url 'login_user'%}" method="POST" >
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="form-group clearfix">
                            <label class="col-md-4 control-label text-right">Username<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-md-4 control-label text-right">Password<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-4">
                            <input type="submit" value="Login" class="btn btn-success">
                        </div>
                        <div class="col-md-6 col-md-offset-4">
                          <p>Not a member yet?</p><a href="{% url 'register' %}">Signup</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>

{% endblock %}