{% extends "base.html" %}
<style>
  height: 100px;
  width: 500px;
</style>

{% block content %}
<h2>Available Books</h2><br>
  {% for message in messages %}

    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">×</a>

        {{ message }}

    </div>
  {% endfor %}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Genre</th>
      <th scope="col">No of copies</th>
      <th scope="col">Available copies</th>
      {% if user.is_superuser %}
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      {% else %}
      <th scope="col">Issue</th>
      {% endif %}
      
      
    </tr>
  </thead>
  <tbody>
{% for book in books%}

    <tbody>
      <tr>
        <td><img style="height: 50px; width: 50px;" src="{{book.book_image.url}}"/></td>        
        <td> <a href='{% url   'library:show_book_details' book.id  %}'>{{ book.title }}</a></td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td >{{ book.no_of_copies }}</td>
        <td >{{ book.no_of_available_copies }}</td>
        {% if user.is_superuser %}
        <td><button type="button" class="btn btn-success" onclick="location.href='{% url 'library:update_book' book.id  %}'" >Edit</button></td>
        <td><button type="button" class="btn btn-danger" onclick="location.href='{% url 'library:delete_book' book.id  %}'" >Delete</button></td>
        {% else %}
        <td><input type="button" onclick="location.href='{% url 'library:issue_book' book.id %}'" class="btn btn-info" value="Issue"></td>
        {% endif %}
      </tr>
      {% endfor %}  
  </tbody>
</table>
{% endblock %}
