{% extends "base.html" %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% block content %}


<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  

  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  

  </style>



<div class="card">
 

  <img src="{{librarian.profile_pic.url}}" alt="John" style="width:250px; height:250px;" >
  <h1>{{librarian.username}}</h1>
  <p>First_name: {{librarian.first_name}}</p>
  <p>Last_name: {{librarian.last_name}}</p>
  <p>Contact_no: {{librarian.contact_no}}</p>
  

</div>
{% endblock %}


