{% extends "base.html" %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% block content %}



<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Role</th>
      <th scope="col">Book name</th>
      <th scope="col">Issue date</th>
      <th scope="col">Due date</th>
      <th scope="col">Return date</th>
    </tr>
  </thead>
  <tbody>
    {% for bookrecord in bookrecords%}
   
    <tbody>
      <tr>
        <td><a href="{% url 'student_details' bookrecord.borrower_name.id %}" >{{ bookrecord.borrower_name }}</a></td>
        <td>{{ bookrecord.borrower_name.role }}</td>
        <td>{{ bookrecord.book.title }}</a></td>
        <td>{{ bookrecord.issue_date }}</td>
        <td>{{ bookrecord.due_date }}</td>
        <td>{{ bookrecord.return_date }}</td>
       
        
      </tr>
      {% endfor %}  
  </tbody>
</table>
{% endblock %}


