{% extends "base.html" %}

{% block content %}

<input type="submit" onclick="location.href='{% url 'library:show_book' %}'" class="btn btn-info" value="Issue new books">



<h3>Issued Book record</h3>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Book name</th>
      <th scope="col">Issue date</th>
      <th scope="col">Due date</th>
      <th scope="col">Return date</th>
      <th scope="col">Return book</th>
    </tr>
  </thead>
  <tbody>
    {% for bookrecord in bookrecords%}
   
    <tbody>
      <tr>
        <td> {{ bookrecord.book.title }}</td>
        <td>{{ bookrecord.issue_date }}</td>
        <td>{{ bookrecord.due_date }}</td>
        {% if bookrecord.return_date %}
        <td>{{ bookrecord.return_date }}</td>
        {% else %}
        <td>-</td>
        <td><input onclick="location.href='{% url 'library:return_book' bookrecord.id %}'" type="submit"  class="btn btn-info" value="Return Book"></td>
        {% endif %}
      </tr>
      {% endfor %}  
  </tbody>
</table>
{% endblock %}


