{% extends "base.html" %}
{% block content %}
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  

  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  </style>
<div class="card">
  <img src="{{user.profile_pic.url}}" alt="John" style="width:250px; height:250px;" >
  <h1>{{user.username}}</h1>
  <p class="title">Department: {{user.department}}</p>
  <p>First_name: {{user.first_name}}</p>
  <p>Last_name: {{user.last_name}}</p>
  <p>Contact_no: {{user.contact_no}}</p>
</div>
{% endblock %}


